/* mobile view first of all... */

body {
  background: #E8EAEE;
  margin: 0;
  font-family: Avenir Next, Avenir, Helvetica Neue, Arial, sans-serif;
  width: auto;
}

header h1 {
  text-align: center;
  padding-top: 20px;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: center;
  margin: 0;
}

header nav ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

header nav ul li {
  text-decoration: none;
  margin: 0 20px 0 0;
  
}

header nav ul li:last-child {
  margin-right: 0px;
}

button {
display:inline-block;
margin-top:0.3em;
margin-left: 0.1em;
border:0.15em solid black;
box-sizing: border-box;
text-decoration:none;
color: black;
background-color: #ADE8F4;
text-align:center;
position:relative;
font-family: inherit;
}
button:hover{
background-color: #90E0EF;
}

header nav ul li:hover  { color: red;  }

main {
  margin: 10px;
  
}


input {
    display: block;
    border: none;
    border-bottom: 2px solid red;
    margin: 2px 0;
    background-color: #E8EAEE;
    width: 40%;
    padding: 0.3em;
    font-family: inherit;
  }

  input:focus {
    outline: none;
  }

/* BROWSER view... */

@media all and (min-width: 600px) {
  .group {
    display: flex;
    flex-direction: row;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    margin: 10px;
  }

  header h1 {
    margin: 10px 0;
    padding: 0;
  }

  header nav {
    margin-top: 10px;
  }

  main {
    padding-left: 100px;
    padding-right: 100px;
    margin: 10px;
  }

  body {
    width: auto;
  }
}